
<div id="container" style="width: 600px; height: 400px; padding-top: 50px; margin: 0 auto">
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='https://code.highcharts.com/highcharts.js'></script>

  <!-- <script  src="/assets/javascripts/application.js"></script> -->

  <script>
    $(function () {
      $('#container').highcharts({
        chart: {
          type: 'spline'
        },
        title: {
          text: 'Cotacoes'
        },
        xAxis: {
          type: 'datetime',
          labels: {
            overflow: 'justify'
          }
        },
        yAxis: {
          title: {
            text: 'Valor'
          },
          min: 0,
          minorGridLineWidth: 0,
          gridLineWidth: 0,
          alternateGridColor: null,
          plotBands: []
        },
        tooltip: {
          valueSuffix: ''
        },
        plotOptions: {
          spline: {
            lineWidth: 4,
            states: {
              hover: {
                lineWidth: 3
              }
            },
            marker: {
              enabled: false
            },
            pointInterval: 86400000,
            pointStart: Date.UTC(<%= Date.today.strftime("%Y-%m-%e").split("-")[1].to_i %>, <%= Date.today.strftime("%Y-%m-%e").split("-")[1].to_i %> -1, <%= (Date.today.strftime("%Y-%m-%e").split("-")[2].to_i - 6) %>, 0, 0, 0)
          }
        },
        series: [{
          name: 'Euro',
          data: [<%= ((1 / @quotations[6][0]["quotes"]["USDBRL"]) / @quotations[6][0]["quotes"]["USDEUR"]).round(2) %>,
          <%= ((1 / @quotations[5][0]["quotes"]["USDBRL"]) / @quotations[5][0]["quotes"]["USDEUR"]).round(2) %>,
          <%= ((1 / @quotations[4][0]["quotes"]["USDBRL"]) / @quotations[4][0]["quotes"]["USDEUR"]).round(2) %>,
          <%= ((1 / @quotations[3][0]["quotes"]["USDBRL"]) / @quotations[3][0]["quotes"]["USDEUR"]).round(2) %>,
          <%= ((1 / @quotations[2][0]["quotes"]["USDBRL"]) / @quotations[2][0]["quotes"]["USDEUR"]).round(2) %>,
          <%= ((1 / @quotations[1][0]["quotes"]["USDBRL"]) / @quotations[1][0]["quotes"]["USDEUR"]).round(2) %>,
          <%= ((1 / @quotations[0][0]["quotes"]["USDBRL"]) / @quotations[0][0]["quotes"]["USDEUR"]).round(2) %>
          ]
        }, {
          name: 'Dolar',
          data: [<%= (1 / @quotations[6][0]["quotes"]["USDBRL"]).round(2) %>,
          <%= (1 / @quotations[5][0]["quotes"]["USDBRL"]).round(2) %>,
          <%= (1 / @quotations[4][0]["quotes"]["USDBRL"]).round(2) %>,
          <%= (1 / @quotations[3][0]["quotes"]["USDBRL"]).round(2) %>,
          <%= (1 / @quotations[2][0]["quotes"]["USDBRL"]).round(2) %>,
          <%= (1 / @quotations[1][0]["quotes"]["USDBRL"]).round(2) %>,
          <%= (1 / @quotations[0][0]["quotes"]["USDBRL"]).round(2) %>
          ]
        }, {
          name: 'Peso argentino',
          data: [<%= ((1 / @quotations[6][0]["quotes"]["USDBRL"]) * @quotations[6][0]["quotes"]["USDARS"]).round(2) %>,
          <%= ((1 / @quotations[5][0]["quotes"]["USDBRL"]) * @quotations[5][0]["quotes"]["USDARS"]).round(2) %>,
          <%= ((1 / @quotations[4][0]["quotes"]["USDBRL"]) * @quotations[4][0]["quotes"]["USDARS"]).round(2) %>,
          <%= ((1 / @quotations[3][0]["quotes"]["USDBRL"]) * @quotations[3][0]["quotes"]["USDARS"]).round(2) %>,
          <%= ((1 / @quotations[2][0]["quotes"]["USDBRL"]) * @quotations[2][0]["quotes"]["USDARS"]).round(2) %>,
          <%= ((1 / @quotations[1][0]["quotes"]["USDBRL"]) * @quotations[1][0]["quotes"]["USDARS"]).round(2) %>,
          <%= ((1 / @quotations[0][0]["quotes"]["USDBRL"]) * @quotations[0][0]["quotes"]["USDARS"]).round(2) %>
          ]
        }]
        ,
        navigation: {
          menuItemStyle: {
            fontSize: '15px'
          }
        }
      });
    });
  </script>
</div>
